<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head')%>
    <link rel="stylesheet" href="/css/search.css">
</head>
<body>
    <header>
        <%- include('partials/navbar') %>
    </header>

    <header class="hero">
        <div class="hero-inner">
            <p class="mini-title">Community Resource Finder</p>
            <h1>HelpHub</h1>
            <p class="subtitle">Find local Food, Shelter, campus help, and Donation resources near CSUMB.</p>

            <div class="hero-buttons">
                <a href="#resources" class="hero-btn">Find Resources</a>
                <a href="/about" class="hero-btn secondary">About Us</a>
            </div>
        </div>
    </header>

    <main class="page">
        <section id="resources" class="filter-box">
            <h2>Find Help Fast</h2>
            <p class="helper-text">Choose a category or item to quickly narrow down the list.</p>


            <!-- Form -->
            <form action="/search" class="filters-row">
                <div class="filter-group">
                    <label>
                        <input name="keyword" type="text" placeholder="Search by General Keyword">
                    </label>
                </div>

                <div class="filter-group">
                    <select name="city">
                        <option value="">All Cities</option>
                        <% cities.forEach(city => { %>
                            <option value="<%= city %>">
                                <%= formatLabel(city) %>
                            </option>
                        <% }) %>
                    </select>
                </div>

                <div class="filter-group">
                    <select name="type">
                        <option value="">All Services</option>
                        <% types.forEach(type => { %>
                            <option value="<%= type %>">
                                <%= formatLabel(type) %>
                            </option>
                        <% }) %>
                    </select>
                </div>

                <div class="filter-group">
                    <select name="item">
                        <option value="">All Items</option>
                        <% items.forEach(item => { %>
                            <option value="<%= item %>">
                                <%= formatLabel(item) %>
                            </option>
                        <% }) %>
                    </select>
                </div>


                <button id="clearFilters" class="clear-btn" type="submit">Search</button>
            </form>

            <p id="resultsCount" class="results-count">Showing <%= places.length %> resources</p>
        </section>

        <section id="cardsContainer" class="cards-grid">

            <% for(let place of places) { %>
                <div class="resource-card" data-category="<%= place.type %>" data-items="<%= place.items.join(',') %>">
                    <div class="card-top">
                        <span class="card-badge badge-<%= slugify(place.type) %>">
                            <%= formatLabel(place.type) %>
                        </span>
                    </div>
                    <h3><%= place.name %></h3>
                    <p class="address"><%= place.address %>, <%= place.city%>, CA</p>
                    <p><%= place.description%></p>
                    <a class="map-btn" href="/place/<%= place.place_id %>">More Info</a>
                </div>
            <% } %>

<!--            <div class="resource-card" data-category="Campus Help" data-items="Food,Hygiene,School Supplies,Emergency Support">-->
<!--                <div class="card-top">-->
<!--                    <span class="card-badge badge-campus-help">Campus Help</span>-->
<!--                </div>-->
<!--                <h3>CSUMB OtterCare / The Hub</h3>-->
<!--                <p class="address">100 Campus Center, Seaside, CA</p>-->
<!--                <p>Basic needs support for students, including Food, hygiene, and emergency help.</p>-->
<!--                <a class="map-btn" target="_blank" href="https://www.google.com/maps/search/?api=1&query=100+Campus+Center+Seaside+CA">Open in Maps</a>-->
<!--            </div>-->

<!--            <div class="resource-card" data-category="Food" data-items="Food,Canned Goods,Produce">-->
<!--                <div class="card-top">-->
<!--                    <span class="card-badge badge-Food">Food</span>-->
<!--                </div>-->
<!--                <h3>Food Bank for Monterey County - Marina</h3>-->
<!--                <p class="address">Marina, CA</p>-->
<!--                <p>Food distribution support for local families and individuals.</p>-->
<!--                <a class="map-btn" target="_blank" href="https://www.google.com/maps/search/?api=1&query=Marina+CA+Food+Bank+for+Monterey+County">Open in Maps</a>-->
<!--            </div>-->

<!--            <div class="resource-card" data-category="Food" data-items="Food,Produce,Canned Goods">-->
<!--                <div class="card-top">-->
<!--                    <span class="card-badge badge-Food">Food</span>-->
<!--                </div>-->
<!--                <h3>Food Bank for Monterey County - Seaside</h3>-->
<!--                <p class="address">Seaside, CA</p>-->
<!--                <p>Community Food assistance and pantry support near CSUMB.</p>-->
<!--                <a class="map-btn" target="_blank" href="https://www.google.com/maps/search/?api=1&query=Seaside+CA+Food+Bank+for+Monterey+County">Open in Maps</a>-->
<!--            </div>-->

<!--            <div class="resource-card" data-category="Shelter" data-items="Food,Clothes,Hygiene">-->
<!--                <div class="card-top">-->
<!--                    <span class="card-badge badge-Shelter">Shelter</span>-->
<!--                </div>-->
<!--                <h3>Salvation Army Monterey Peninsula Corps</h3>-->
<!--                <p class="address">Seaside, CA</p>-->
<!--                <p>Provides Food support, basic aid, and Shelter-related assistance.</p>-->
<!--                <a class="map-btn" target="_blank" href="https://www.google.com/maps/search/?api=1&query=Salvation+Army+Monterey+Peninsula+Corps+Seaside+CA">Open in Maps</a>-->
<!--            </div>-->

<!--            <div class="resource-card" data-category="Donations" data-items="Clothes,Household Items">-->
<!--                <div class="card-top">-->
<!--                    <span class="card-badge badge-Donations">Donations</span>-->
<!--                </div>-->
<!--                <h3>Goodwill Donation Center</h3>-->
<!--                <p class="address">Monterey, CA</p>-->
<!--                <p>Accepts clothing and household Donations for community reuse.</p>-->
<!--                <a class="map-btn" target="_blank" href="https://www.google.com/maps/search/?api=1&query=Goodwill+Donation+Center+Monterey+CA">Open in Maps</a>-->
<!--            </div>-->
        </section>
    </main>

<!--    <script src="js/search.js"></script>-->
</body>
</html>